$brand-primary: #00AABD;
$brand-secondary: #333;
$brand-light: #EEE;
$brand-dark: #008975;
$brand-grey: grey;

$font-sans-serif: Georgia, Times, Serif;
$font-stack-sans-serif: Helvetica, Arial, sans-serif;

$font-base: 16px;
$font-large: 40px;